@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground:#ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 video {
  backface-visibility: hidden;
  transform: translateZ(0);
}

.popular-destinations-slider .swiper-pagination {
  bottom: 0;
}

.popular-destinations-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #0A3D40;
  background: transparent;
  opacity: 1;
  margin: 0 6px !important;
}

.popular-destinations-slider .swiper-pagination-bullet-active {
  background: #E9D09A;
  border-color: #E9D09A;
}
