@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground:#ffffff;
}
.shine-wrapper {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.group:hover .shine-wrapper {
  opacity: 1;
}

.shine {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100%;
  height: 25%; /* THICK LINE */
  background: rgba(220, 220, 220, 0.95); /* white-gray solid */
  animation: none;
}

.group:hover .shine {
  animation: shine 1s ease-in-out forwards;
}

@keyframes shine {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(120%);
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 video {
  backface-visibility: hidden;
  transform: translateZ(0);
}

.popular-destinations-slider .swiper-pagination {
  bottom: 0;
}

.popular-destinations-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #0A3D40;
  background: transparent;
  opacity: 1;
  margin: 0 6px !important;
}

.popular-destinations-slider .swiper-pagination-bullet-active {
  background: #E9D09A;
  border-color: #E9D09A;
}
